/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	/*background: #0d1424 url(images/body-bg.jpg) no-repeat center top;*/
	background:#DCDCDC;
	font: .81em/150% Arial, Helvetica, sans-serif;
	color:#333;
}
a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
	text-align: justify;
}

/* list */
ul, ol {
	margin: 0em 0 0em 10px;
	padding: 0;
	line-height: 0%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 20px 0 .4em;
	color:#333;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	width: 980px;
	margin: 0 auto;
	background-image: url(../images/fon3.png);
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	background-image: url(../images/hea4.png);
	position: relative;
	height: 160px;
}

/* site logo */
#site-logo {
	position: absolute;
	top: 10px;
}
#site-logo a {
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
}

/* site description */
#site-description {
	font:  "Times New Roman", Times, serif;
	color: #333;
	position: absolute;
	top: 55px;
}

/* searchform */
#searchform {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 160px;
}
#searchform #s {
	width: 100px;
	float: right;
	background: #fff;
	border: 1px solid 	#8F8FBD;
	padding: 6px 10px;
	/* border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#main-nav {
	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	border:1px solid #808080;
	border-radius:10px;

	/* gradient */
	

	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
#bienvenido{
	top:-5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
	
}

#main-nav li a {
	color: #000;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

#main-nav li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#666666), to(#ccc));
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #111;

}
/* Dropdown styles */
#main-nav ul li {
	float: none;
}
/* Displays the dropdown on hover and moves back into position */   
            #main-nav li ul {
                display:none;
                position:absolute;
                min-width:140px;
            }
            #main-nav li:hover ul {
                display:block;
                background: 	#A8A8A8;
                border: 1px solid 	#8F8FBD;
            }
            
            #main-nav li ul li {
                position:relative;
            }
            
            #main-nav li ul li ul {
                right:-140px;
                top:0px;
            }

/************************************************************************************
CONTENT
*************************************************************************************/
#content {
	background:  	#C0C0C0;	
	margin: 30px 0 30px;
	padding: 20px 35px;
	width: 600px;
	float: left;
	border: 1px solid #808080;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

/* post */
.post {
	margin-bottom: 40px;
}
.post-title {
	margin: 0 0 5px;
	padding: 0;
	font: bold 26px/120% Arial, Helvetica, sans-serif;
}
.post-title a {
	text-decoration: none;
	color: #000;
}
.post-meta {
	margin: 0 0 10px;
	font-size: 90%;
}

/* post image */
.post-image {
	position: absolute;
	top: -10%;
	width: 10%;
	height: 10%;
	
}
.post-image1 {
	position: absolute;
	top: -20%;
	width: 10%;
	left: 80%;
	
}
/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 280px;
	float: right;
	margin: 30px 0 30px;
}

.widgettitle {
	margin: 0 0 5px;
	padding: 0;
	display: block;	
	text-align: center;
}
.widget {
	background: 	#C0C0C0;
	margin: 0 0 30px;
	padding: 10px 20px;
	border: 1px solid #808080;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}



.widget a {
	border-radius: 10px;
	line-height: 100%;
	font-weight: bold;
	color: #545454;
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.widget a:hover{
	color: #fff;
	background: #474747;
	/* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#000));
	background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	background: linear-gradient(-90deg, #282828, #4f4f4f);
}
.widget ul {
	margin: 0;
	padding: 0;

}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	clear: both;
	color: #111;
	font-size: 85%;
}
#footer a {
	color: #333;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }